<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="greaterWins" value="1" />
    <add key="filePath" value="C:\data\TournamentTracker" />
    <add key="senderEmail" value="cidospark27@g,ail.com" />
    <add key="senderDispalyName" value="Cidospark" />
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=.;Database=Tournaments;Trusted_Connection=True;"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="127.0.0.1" userName="Cidos" password="testing" port="25" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>